/* public/css/app.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfdfdf;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #3D2A5B;
}


